body {
    background-color: #f8f9fa;
  }
  h1, h4{
    text-align: center;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  .introduction{
    position: relative;
    text-align: center;
    
  }
  .mytext{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    
  }
  .slogan{
    position: absolute;
    top:70%;
    font-size:medium;
    left:18%;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .left-side .white {
    position: absolute;
    top: 20%; 
    left: 40%;
    transform: translateX(-50%); /* Center the image horizontally */
    width: 70%; 
    opacity: 1; 
  }
  
  .left-side .color-box {
    height: 99%;
    background-color: #9600ff; 
  }
  .left-side, .right-side {
    flex: 1;
    height: 100%;
    position: relative;
  }
  .right-side {
    position: relative;
  }
  
  .image-overlay {
    position: relative;
    width: 100%;
    height: 99%;
  }

  .image-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
 
  .image-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(129, 116, 116, 0.5); 
    
  }
  #text {
    width: 100%; 
    max-width: 70%;
    position: absolute;
    font-size: 13px; 
    border: 2px; 
    top: 5%;
    border-radius: 20px; 
    transition: 0.3s ease-in-out; 
    text-align: center; 
    z-index: 2

}

.nav {
  text-align: center;

}

.nav .nav-link {
font-weight: bold;
}

.nav .nav-link {
color: #ebeff3 ;
font-weight: bold;
font-size: larger;
}

.nav .nav-link.active {
background-color:black;

}
#booktabs{
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 2;  /* Ensure it's above the image */
  display: flex;
  justify-content: center;
}
#bookTabsContent{
  position: absolute;
  top: 20%;
  left: 05%;
  z-index: 2;
}
p{
  color: white;
}
#button{
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 2;
}